*{
    padding: 0;
    margin: 0;
}

li>a {
    text-decoration: none;
}
.header-container {
    width: 100%;
    height: 500px;
    background-image:url(/img/IMGG/1.jpg);
    background-size: cover;
    position: relative;
    padding: 100px;
}
.header-content {
    padding: 100px;
}
.nav {
   width: 100%;
   height: 80px;
   display:flex;
   margin:0 100px;
}

.nav-logo{
    height: 100%;
}

.nav-logo>img {
    height: 100%;
}
.nav-items {
    width: 50%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    list-style-type:none;
    align-items: center;
    font-size: 20;
    text-transform:uppercase;

}
.nav-items>li {
    padding: 10px 20px ;
    
    border-bottom: solid 3px yellow;
}
.nav-items>li>a {
    color: white;
}

.nav-items>li:hover {
    border-bottom: yellow;
}

.welcome-button>button{
    padding: 5px 10px;
    border-radius: 30px;
    background-color: red;
    color: white;
    outline: none;
    font-size: 15px;
    border:2px solid red;
}
welcome-button>button.button-outline {
    background-color: rgba(0, 0,0, 0.457);
}
.part2{
    width: 100%;
}
#a {
    width: auto;
}
.all img {
    width : 100%;
}
.all {
    width: 25%;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
#We {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 135px;
}
#lisbon {
    width: 17%;
    margin-left: 200px;
}
#lisbon img {
    width: 100%;
}
#san{
    width: 17%;
    margin-left: 30px;
}
#san img{
    width: 100%;
}
#berlin{
    width: 17%;
    margin-left: 30px;
}
#berlin img{
    width: 100%;
}
#london{
    width: 17%;
    margin-left: 30px;
}
#london img {
    width: 100%;
}
.sanfr {
    margin-left: 520px;
   margin-top: 20px;
}
.sanfra {
    margin-left: 545px;
    margin-top: -3px;
    
}
.lisb {
    margin-left: 200px;
}
.lisbo {
    margin-left: 225px;
    margin-top: -5px;
}
#fakea   {
    width: 100%;
    margin-left: 205px;
    
}
#fakeb {
    width: 100%;
    margin-left:505px ;
    margin-top: -180px;
}
#fakec {
    width: 100%;
    margin-left: 825px;
    margin-top: -190px;
}
#faked {
    width: 100%;
    margin-left: 1150px;
    margin-top: -200px;
}
.customera img {
    width: 100%;
}
.customera {
    width: 4%;
    margin-left: 205px;
}
.customerb img {
    width: 100%;
}
.customerb {
    width: 4%;
    margin-left:705px ;
    margin-top: -75px;
}
.customerc img {
    width: 100%;
}
.customerc {
    width: 4%;
    margin-left: 1325px;
    margin-top: -70px;
}
.part5 img {
    width: 100%;
}
.part1 img {
    width: 100%;
}
