*{
    padding: 0;
    margin: 0;
}

li>a {
    text-decoration: none;
}
.header-container {
    width: 100%;
    height: 500px;
    background-image:url(/img/IMGG/1.jpg);
    background-size: cover;
    position: relative;
    padding: 100px;
}
.header-content {
    padding: 100px;
}
.nav {
   width: 100%;
   height: 80px;
   display:flex;
   margin:0 100px;
}

.nav-logo{
    height: 100%;
}

.nav-logo>img {
    height: 100%;
}
.nav-items {
    width: 50%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    list-style-type:none;
    align-items: center;
    font-size: 20;
    text-transform:uppercase;

}
.nav-items>li {
    padding: 10px 20px ;
    
    border-bottom: solid 3px yellow;
}
.nav-items>li>a {
    color: white;
}

.nav-items>li:hover {
    border-bottom: yellow;
}

.welcome-button>button{
    padding: 5px 10px;
    border-radius: 30px;
    background-color: red;
    color: white;
    outline: none;
    font-size: 15px;
    border:2px solid red;
}
welcome-button>button.button-outline {
    background-color: rgba(0, 0,0, 0.457);
}